.primaryButton{
    background-color: var(--botton-primary);
    border: none;
    color: var(--button-secondary);
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 13px;
}
.primaryButton:hover{
    color: var(--botton-primary) ;
    background-color: var(--button-secondary);
}
.secondaryButton{
    background-color: var(--button-secondary);
    border: none;
    color: var(--botton-primary);
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 13px;
}
.secondaryButton:hover{
    color: var(--botton-secondary) ;
    background-color: var(--button-secondary-hover);
}