header{
    height: 970px;
    background-image: url(./assets/hero-header-bakery.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
main{
    width: 1690px;
    margin: auto;
}