:root{
    --primary-color:#fff;
    --text-primary-color:#55328b;
    --text-secondary-color:#787281;
    --color-slider:#a691b2;
    --botton-primary:#fff;
    --button-secondary:#55328b;
    --button-secondary-hover:#bda2f3;
    --text-special-color:#c3c3c3;
    --card-backgroundcolor:#f6eff3;
}